.row {
  font-size: 1.05rem;
}

.row td {
  height: 42px;
}

.table-ticker a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-ticker img {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  margin-left: 13px;
}

.ticker {
  font-size: 1.04rem;
}

.google img {
  width: 32px;
}

.remove {
  cursor: pointer;
  padding-right: 1rem;
}

.remove:hover {
  text-decoration: underline;
}

.ticker-light {
  color: #000000;
}

.ticker-light:hover {
  color: #464646;
}

@media (max-width: 1000px) {
  .row {
    font-size: 0.75rem;
  }

  .table-ticker img {
    width: 24px;
  }

  .ticker {
    font-size: 0.8rem;
  }
}
