.summary-card {
  width: 280px;
  height: 100px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(36, 36, 36);
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.87);
  opacity: 0.87;
}

.summary-card-light {
  background-color: #5970a5;
  color: #fff;
}

.summary-card h2 {
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  .summary-card {
    background: transparent;
    font-size: 1.1rem;
  }

  .summary-card-light {
    color: #000000;
  }
}
