.transaction-form {
  width: 40%;
  height: 498px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: #464545;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.txn-header {
  background: rgb(32, 45, 58);
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 150px;
  margin-bottom: 2.3rem;
}

.form-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-form button {
  width: 38%;
  height: 64px;
  border-radius: 10px;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  color: #dadada;
  background-color: #2e2e2e;
  background: rgb(32, 45, 58);
  border: none;
}

.transaction-form-light {
  background-color: rgb(185, 185, 185);
}

.transaction-form-light button {
  background-color: #5970a5;
}

.transaction-form button:hover {
  opacity: 0.8;
}

.transaction-form-light button:hover {
  background-color: #6983c0;
}

.txn-action-select {
  border-bottom: 4px solid rgb(53, 53, 53);
  height: 86px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 3rem;
  border-bottom: none;
}

.txn-action-select-light {
  background-color: rgb(185, 185, 185);
}

.txn-action {
  height: 60px;
  width: 40%;
  font-size: 1.9rem;
  text-transform: uppercase;
  word-spacing: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(233, 233, 233);
}

.txn-action-light {
  color: #000000;
}

.txn-input {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.txn-input input {
  border-radius: 12px;
  padding-right: 7px;
  color: #b6b6b6;
}

.form-error {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.submit-error span {
  margin-left: 5rem;
}

.txn-input-light input {
  color: #000000;
}

.txn-input span {
  font-size: 1.2rem;
  color: #b6b6b6;
}

.txn-input-light span {
  color: #000000;
}

.back-button-cont {
  width: 100%;
  height: 36px;
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
}

.back-button-cont-light {
  background-color: rgb(185, 185, 185);
  border-bottom: none;
}

.back-button {
  margin-top: 0.9rem;
  margin-left: 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.back-button:hover {
  opacity: 0.8;
}

.back-button-light {
  color: #000000;
}

.back-button-light:hover {
  color: #3a3a3a;
}

.back-button-cont button:hover {
  background-color: #7a7a7a;
}

.exit-transaction {
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .transaction-form {
    width: 70%;
  }
}

@media (max-width: 420px) {
  .transaction-form {
    width: 86%;
  }

  .txn-input input[type="date"] {
    width: 190px;
  }

  .transaction-form button {
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;
  }
}
