.select-asset-button {
  width: 13%;
  height: 50px;
  border: none;
  border-radius: 8px;
  margin-right: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #f7f7f7;
  text-transform: uppercase;
}

.stock-button {
  background-color: #188328;
}

.stock-button:hover {
  background-color: #1fa533;
}

.stock-btn-light {
  background-color: #28b63d;
}

.crypto-button {
  background-color: #6132e2;
}

.crypto-button:hover {
  background-color: #7242f8;
}

.crypto-btn-light {
  background-color: #7e53e6;
}
