.asset-info-container {
  width: 54%;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.87);
  padding: 0 2rem;
}

.asset-info-container-light {
  background-color: #fff;
  color: #000;
}

.crypto-info-container {
  width: 54%;
  background-color: #121212;
  padding: 0 2rem;
}

.crypto-info-container-light {
  background-color: #fff;
}

.asset-header {
  width: 100%;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(56, 56, 56);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.asset-header h2 {
  font-size: 2.27rem;
}

.asset-header span {
  color: rgb(8, 179, 8);
  font-size: 1.14rem;
  margin-right: 20px;
  cursor: pointer;
}

.asset-header-light span {
  color: #28b63d;
}

.asset-table {
  width: 100%;
  border-spacing: 0 1.3rem;
  font-size: 1rem;
}

.market-table,
.exchange-table {
  margin-bottom: 0.4rem;
}

.exchange-table-row:hover {
  background-color: #262626;
  cursor: pointer;
}

.exchange-table-row-light a {
  color: #000000;
}

.exchange-table-row-light:hover {
  background-color: #b9b9b9;
}

.exchange-table-header {
  font-weight: bold;
  font-size: 1.02rem;
}

.asset-title {
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.crypto-table {
  width: 100%;
  margin-top: 2.6rem;
}

.company-info-content {
  width: 88%;
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.8rem;
  overflow: scroll;
}

.company-info-content a {
  font-weight: 700;
}

.company-info-content a:hover {
  text-decoration: underline;
}

.content-expand {
  color: rgb(8, 179, 8);
}

.content-expand:hover {
  cursor: pointer;
}

.info-row {
  font-size: 1.14rem;
  display: flex;
  margin-bottom: 1rem;
}

.info-row a {
  font-weight: 600;
}

.info-row a:hover {
  text-decoration: underline;
}

.info-row div {
  margin-right: 1.4rem;
}

.crypto-table-val {
  padding: 0.1rem 0.8rem;
}

.info-title {
  font-weight: 600;
}

.link-light {
  color: #000;
}
