.company-page-container {
    width: 100%;
    background-color: #121212;
    padding-bottom: 5rem;
    color: #ffffff;
}

.company-page-container-light {
    background-color: #ffffff;
    color: #000000;
}

.company-chart-container {
    width: 86%;
    padding-top: 3rem;
}

.company-chart-container h1 {
    font-size: 2.9rem;
}

.asset-price {
    margin-top: 1rem;
    font-size: 2.6rem;
}

.company-chart-container h1, .company-asset-change{
    margin-left: 2rem;
}

.company-asset-change {
    color: #7bcd77;
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.company-asset-change-light {
    color: #41b63c;
}

.company-symbol {
    display: flex;
    align-items: center;
}

.company-symbol img {
    width: 90px;
    margin-left: 1.8em;
    border-radius: 50%;
}

.percent-dec {
    color: #c45145;
}
