.row {
  font-size: 1rem;
}

.table-ticker {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.table-ticker img {
  width: 32px;
  margin-right: 10px;
  border-radius: 50%;
  margin-left: 13px;
}

.ticker {
  font-size: 1rem;
}

.google img {
  width: 30px;
}

.percent-change-inc {
  color: #7bcd77;
}

.percent-change-dec {
  color: #c45145;
}

.remove {
  cursor: pointer;
}

.ticker-light {
  color: #000000;
}

.ticker-light:hover {
  color: #464646;
}
