.list-controller {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  /* width: 55%; */
  width: 700px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 1.5rem;
  margin-top: 3rem;
}

.list-controller-light {
  background-color: #ffffff;
  color: #000000;
  border: 4px solid #9dabca;
}

.list-header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-header h2 {
  margin-left: 2rem;
}

.list-header button {
  margin-right: 3rem;
  width: 80px;
  height: 35px;
  border-radius: 6px;
  border: none;
  color: rgba(255, 255, 255, 0.87);
  padding: 0.35rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
}

.btn-stock {
  background-color: #188328;
}

.btn-stock:hover {
  background-color: #1fa533;
}

.btn-crypto {
  background-color: #6132e2;
}

.btn-crypto:hover {
  background-color: #7242f8;
}

.btn-stock-light {
  background-color: #1c9c30;
}

.btn-crypto-light {
  background-color: #6835f3;
}

.btn-stock-light:hover {
  background-color: #24c43c;
}

.btn-crypto-light:hover {
  background-color: #7242f8;
}

.tab {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0 1.5rem;
  color: rgba(255, 255, 255, 0.87);
}

.tab-light {
  color: #000000;
}

.tab td,
.tab th {
  text-align: right;
  border-bottom: 3px solid rgb(51, 51, 51);
  padding-bottom: 10px;
}

.tab-light td,
.tab-light th {
  border-bottom: 3px solid rgb(216, 216, 216);
}

.last-col {
  padding-right: 1rem;
}

.port-col {
  cursor: pointer;
  font-size: 1rem;
}

.no-asset-cont {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.no-assets {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

@media (max-width: 1000px) {
  .list-controller {
    width: 90%;
  }

  .list-header button {
    width: 60px;
    height: 30px;
    font-size: 0.9rem;
  }

  .tab {
    border-spacing: 0 0.8rem;
  }

  .tab td,
  .tab th {
    padding-bottom: 5px;
  }
}
