.unavailable, .unavailable-light {
    background-color: #121212;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unavailable-light {
    background-color: #ffffff;
    color: #000000;
}

.unavailable, .unavailable-light h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.unavailable, .unavailable-light h2{
    font-size: 2.3em;
}