button:focus {
  outline: none;
}

.dashboard-container {
  width: 100%;
  height: 100%;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-light {
  background-color: #fff;
}

.select-assets {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  width: 90%;
}

.asset-button {
  background-color: #479ef9;
}

.asset-btn-light {
  background-color: #438feb;
}

.portfolio-container {
  background-color: #121212;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.portfolio-container-light {
  background-color: #ffffff;
}

.portfolio-summary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.analytics-container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.asset-allocation-container {
  width: 40%;
  background-color: #242422;
  border-radius: 10px;
  height: 380px;
  display: flex;
  flex-direction: column;
}

.asset-allocation-container-light {
  border: 3px solid #9dabca;
  background-color: #ffffff;
}

.asset-allocation-container h3 {
  font-size: 1.4625rem;
  margin-left: 3rem;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.87);
}

.asset-allocation-container-light h3 {
  color: #000000;
}

.market-news-container {
  width: 100%;
}

.title {
  width: 96%;
  height: 100px;
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.87);
}

.title-light {
  background-color: #5970a5;
  color: #fff;
}

.asset-dist {
  display: flex;
  flex-direction: column;
}

.asset-dist h3 {
  cursor: pointer;
}

.balance-chart {
  border: 3px solid #2c2c2c;
  background-color: #151515;
  border-radius: 10px;
  width: 90%;
  margin-top: 2rem;
  padding: 3.4rem 0;
  color: #e9e9e9;
}

.balance-chart-light {
  border: 3px solid #9dabca;
  background-color: #ffffff;
  color: #000000;
}

.balance-chart h1 {
  font-size: 1.95rem;
  margin-top: 1.5rem;
  margin-left: 4rem;
  letter-spacing: 0.1rem;
}

.port-value {
  margin-left: 4rem;
  font-weight: bold;
  font-size: 2.03rem;
}

.value-change {
  margin-top: 20px;
  font-size: 1.22rem;
  color: #7bcd77;
}

.value-change-light {
  color: #41b63c;
}

.decreasing {
  color: #c45145;
}

.balance-history {
  width: 98%;
  display: flex;
  justify-content: flex-end;
}

.balance-history div {
  font-size: 1rem;
  margin-right: 1.2rem;
  color: #c5c5c5;
  font-weight: bold;
}

.balance-history-light div {
  color: #000000;
}

.balance-history div:hover {
  cursor: pointer;
}

.analytics-container {
  width: 60%;
  height: 300px;
  background-color: #242424;
  border-radius: 10px;
}

.analytics-container-light {
  background-color: #ffffff;
  color: #000000;
  border: 4px solid #9dabca;
}

.section-header {
  font-size: 1.8rem;
}

@media (max-width: 1000px) {
  .analytics-container {
    display: none;
  }

  .asset-dist {
    display: none;
  }
}
